<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="<%- title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%- url %>">
  <meta property="og:image" content="<%- imageurl %>">
  <meta property="og:site_name" content="<%- sitename %>">
  <meta property="og:description" content="<%- description %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%- twitter %>">
  <meta name="keywords" content="<%- keywords %>">
  <meta name="description" content="<%- description %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/icons/manifest.json">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#27ae60">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#2c3e50">
  <link rel="stylesheet" href="/css/bundle.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/style.min.css" media="screen" charset="utf-8">
  <title><%- title %></title>
  <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
</head>
