<?php
$keyname = "LANG";
if (isset($_COOKIE[$keyname])){
  $lang = $_COOKIE[$keyname];
  $url = (empty($_SERVER['HTTPS']) ? 'http://' : 'https://').$_SERVER["HTTP_HOST"]."/".$lang.$_GET["to"];
  header("Location: {$url}");
  exit;
}
?>
<!DOCTYPE html>
<html lang="<%- locale %>">
<%- include("../../ejs/common/_head", {
  title: "Select language | Y-modify",
  url: absolutePath(filename),
  imageurl: "/images/lang.svg",
  description: "Your language may not be supported yet",
  keywords: "Y-modify,Humanoid,Robot"
}) %>
<body>
  <main role="main">
    <div class="errorarea">
      <h1>Select Language</h1>
      <span class="errorarea--message">I'm sorry, but your language
      <?php
        if(array_key_exists("hl", $_GET))
          print " (".locale_get_display_region($_GET["hl"], 'en').")";
      ?> may not be supported yet.</span>
      <div class="errorarea--languages">
        <% locales.id.forEach(function (value, index) { %>
          <a class="errorarea--language btn" href="/<%- value %><?php echo $_GET["to"] ?>"><%- locales.name[index] %></a>
        <% }); %>
      </div>
      <img class="errorarea--illust" src="/images/lang.svg">
    </div>
  </main>
  <%- include("../../ejs/common/_footer") %>
  <%- include("../../ejs/common/_scripts") %>
</body>
</html>
