<li class="herounit" id="<% if(typeof(idName)!='undefined'){ %><%= idName %><% } %>">
  <div class="herounit--image js-scroll-animation lazyload" data-bg="<%= background %>"></div>
  <div class="herounit--description">
    <h3>
      <%= subtitle %>
    </h3>
    <h1>
      <%= title %>
    </h1>
    <div class="herounit--about">
      <%- about.replace(/[\n\r]/g, "<br>"); %>
      <ul>
        <% points.forEach(function (value) { %>
        <li><%= value %></li>
        <% }); %>
      </ul>
    </div>
    <% buttons.forEach(function (value) { %>
    <a class="btn
      <% if(typeof(value.className)!='undefined'){ %>
        <%= value.className %>
      <% } %>
    " <% if(typeof(value.href)!='undefined'){ %>
        href="<%= value.href %>"
      <% } %>
    ><%= value.string %></a>
    <% }); %>
  </div>
</li>
