<div class="history">
  <h3><%= subtitle %></h3>
  <h1><%= title %></h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LzNKoNuXJzA" frameborder="0" allowfullscreen></iframe>
  <table class="history--table">
    <thead>
      <tr>
        <th><%= t("year") %></th>
        <th><%= t("month") %></th>
        <th><%= t("day") %></th>
        <th><%= t("event") %></th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function (value) { %>
        <tr>
          <td><%= value.year %></td>
          <td><%= value.month %></td>
          <td><%= value.day %></td>
          <td><%= value.event %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
