<!DOCTYPE html>
<html lang="ja">
<%- include("../ejs/common/_head", {
  title: "YamaX | Y-modify",
  url: "www.y-modify.org/yamax",
  imageurl: "images/yop.png",
  sitename: "Y-modify",
  description: "yahahahaha",
  twitter: "@ymodify314",
  keywords: "電子工作,YamaX,ヒューマノイド",
}) %>
<body>
  <%- include("../ejs/common/_header") %>
  <main role="main">
    <ul class="ulist">
      <%- include("../ejs/_hero", {
        title: "YamaX",
        subtitle: t("slider-humanoid"),
        background: "/images/3dm.png",
      }) %>
      <%- include("../ejs/_intro", {
        socials: false,
        description: t("yamax-desc")
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("yamax-moving"),
        subtitle: "A Neat System",
        background: "/images/leg.jpg",
        about: t("yamax-moving-desc"),
        points: [],
        buttons: [{
          string: "Watch video",
          href: "https://www.youtube.com/embed/IcpN3AtuAqs?rel=0&autoplay=1",
          className: "youtube",
        },{
          string: "View on Github",
          href: "https://github.com/Y-modify/YamaX-3.2",
        },],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("yamax-voicecontrol"),
        subtitle: "with Embedded Linux",
        background: "/images/back2.jpg",
        about: t("yamax-voicecontrol-desc"),
        points: [],
        buttons: [{
          string: "Watch video",
          href: "https://www.youtube.com/embed/IcpN3AtuAqs?rel=0&autoplay=1",
        },],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("yamax-structure"),
        subtitle: "All-in Handmade",
        background: "/images/3dm.png",
        about: t("yamax-structure-desc"),
        points: [],
        buttons: [{
          string: "View 3D Data",
          href: "#",
        },{
          string: "View on Github",
          href: "#",
        },],
      }) %>
      <%- include("../ejs/_history", {
        data: history,
        title: t("yamax-history"),
        subtitle: "a very long",
      }) %>
    </ul>
  </main>
  <%- include("../ejs/common/_footer") %>
  <%- include("../ejs/common/_scripts") %>
</body>
</html>
