<!DOCTYPE html>
<html lang="<%- locale %>">
<%- include("../ejs/common/_head", {
  title: t("about-title"),
  url: absolutePath(filename),
  imageurl: "/images/sakana.png",
  description: t("ymodify-desc"),
  keywords: t("about-keywords")
}) %>
<body>
  <%- include("../ejs/common/_header") %>
  <main role="main">
    <ul class="ulist">
      <%- include("../ejs/_hero", {
        title: "Who are we?",
        subtitle: "About us",
        background: "/images/sakana.png",
        className: "pixelated herounit--space__charbg",
      }) %>
      <%- include("../ejs/_intro", {
        socials: true,
        description: t("ymodify-desc")
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-helping"),
        subtitle: "Our mission",
        background: "/images/create_excite.jpg",
        about: t("about-helping-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-interaction"),
        subtitle: "Our community",
        background: "/images/be_crazy.jpg",
        about: t("about-interaction-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-creativity"),
        subtitle: "Our policy",
        background: "/images/forever_proto.jpg",
        about: t("about-creativity-desc"),
        points: [],
        buttons: [],
      }) %>
    </ul>
  </main>
  <%- include("../ejs/common/_footer") %>
  <%- include("../ejs/common/_scripts") %>
</body>
</html>
