<!DOCTYPE html>
<html lang="<%- locale %>">
<%- include("../ejs/common/_head", {
  title: t("about-title"),
  url: absolutePath(filename),
  imageurl: "/images/sakana.png",
  description: t("ymodify-desc"),
  keywords: t("about-keywords")
}) %>
<body>
  <%- include("../ejs/common/_header") %>
  <main role="main">
    <ul class="ulist">
      <%- include("../ejs/_hero", {
        title: "Who are we?",
        subtitle: "About us",
        background: "/images/sakana.png",
        className: "pixelated herounit--space__charbg",
      }) %>
      <%- include("../ejs/_intro", {
        socials: true,
        description: t("ymodify-desc")
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-excite"),
        subtitle: "Our most important policy",
        background: "/images/create_excite.JPG",
        about: t("about-excite-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-crazy"),
        subtitle: "Ideas will be made in excitement",
        background: "/images/be_crazy.JPG",
        about: t("about-crazy-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-prototypes"),
        subtitle: "Never lost your goal",
        background: "/images/forever_proto.JPG",
        about: t("about-prototypes-desc"),
        points: [],
        buttons: [],
      }) %>
    </ul>
  </main>
  <%- include("../ejs/common/_footer") %>
  <%- include("../ejs/common/_scripts") %>
</body>
</html>
