<!DOCTYPE html>
<html lang="ja">
<%- include("../ejs/common/_head", {
  title: "Members | Y-modify",
  url: "www.y-modify.org/yamax",
  imageurl: "images/yop.png",
  sitename: "Y-modify",
  description: "yahahahaha",
  twitter: "@ymodify314",
  keywords: "電子工作,YamaX,ヒューマノイド",
}) %>
<body>
  <%- include("../ejs/common/_header") %>
  <main role="main">
    <ul class="ulist">
      <%- include("../ejs/_hero", {
        title: "Who are we?",
        subtitle: "About us",
        background: "/images/sakana.png",
        className: "pixelated tomatobg",
      }) %>
      <div class="intro">
        <div class="socials">
          <a href="https://twitter.com/ymodify314" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://www.facebook.com/Ymodify314" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://plus.google.com/u/0/b/109945619381118132728/+YmodifyOrg314/" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
          <a href="https://instagram.com/ymodify314/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
          <a href="http://y-modify.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-lg"></i></a>
          <a href="https://www.youtube.com/channel/UCnDs9Rdml-Z_bYAn3CSBxeg" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
        <div class="description">
          <%- t("ymodify-desc") %>
        </div>
      </div>
      <%- include("../ejs/_herounit", {
        title: t("about-excite"),
        subtitle: "Our most important policy",
        background: "/images/create_excite.JPG",
        about: t("about-excite-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-crazy"),
        subtitle: "Ideas will be made in excitement",
        background: "/images/be_crazy.JPG",
        about: t("about-crazy-desc"),
        points: [],
        buttons: [],
      }) %>
      <%- include("../ejs/_herounit", {
        title: t("about-prototypes"),
        subtitle: "Never lost your goal",
        background: "/images/forever_proto.JPG",
        about: t("about-prototypes-desc"),
        points: [],
        buttons: [],
      }) %>
    </ul>
  </main>
  <%- include("../ejs/common/_footer") %>
  <%- include("../ejs/common/_scripts") %>
</body>
</html>
