<!DOCTYPE html>
<html lang="ja">
<%- include("../../ejs/common/_head", {
  title: "Members | Y-modify",
  url: "www.y-modify.org/yamax",
  imageurl: "images/yop.png",
  sitename: "Y-modify",
  description: "yahahahaha",
  twitter: "@ymodify314",
  keywords: "電子工作,YamaX,ヒューマノイド",
}) %>
<body>
  <%- include("../../ejs/common/_header") %>
  <main role="main">
    <ul class="ulist">
      <%- include("../../ejs/_hero", {
        title: "Members",
        subtitle: "About us",
        background: "/images/tomato2.png",
        className: "pixelated herounit--space__charbg",
      }) %>
      <li class="herounit">
        <div class="members">
          <%- include("../../ejs/_member", {
            name: "nyanyan",
            displayName: "Nyanyan",
            description: t("member-nyanyan-desc"),
          }) %>
          <%- include("../../ejs/_member", {
            name: "coorde",
            displayName: "coord.e",
            description: t("member-coorde-desc")
          }) %>
          <%- include("../../ejs/_member", {
            name: "cj",
            displayName: "CJ",
            description: t("member-cj-desc")
          }) %>
          <%- include("../../ejs/_member", {
            name: "jyu1",
            displayName: t("member-jyu1"),
            description: t("member-jyu1-desc")
          }) %>
          <%- include("../../ejs/_member", {
            name: "scop",
            displayName: t("member-scop"),
            description: t("member-scop-desc")
          }) %>
          <%- include("../../ejs/_member", {
            name: "fish",
            displayName: t("member-fish"),
            description: t("member-fish-desc")
          }) %>
        </div>
      </li>
    </ul>
  </main>
  <%- include("../../ejs/common/_footer") %>
  <%- include("../../ejs/common/_scripts") %>
</body>
</html>
